/Clases 7 y 8/Trabajos Guia 4/nbproject/private/
/Clases 7 y 8/Trabajos Guia 4/build/
/Clases 9 y 10/Ejercicios Guia 5/nbproject/private/
/Clases 9 y 10/Material de trabajo Guia5/nbproject/private/
/Clases 9 y 10/Ejercicios Guia 5/build/